@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Khojki&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

:root {
    --text-primary: #D3DDC5;
    --bg-dark: #333;
    --bg-light: #D3DDC5;
    --light-primary: ;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Noto Serif Khojki', serif;
    color: var(--text-primary);
}

body {
    /* scroll-behavior: smooth; */
    background-color: #333;
}

@media screen and (max-width: 990px) {
    .about {
        grid-column: span 3;
    }
}
/* ======================
Media Queries
====================== */

@media screen and (max-width: 760px) {
    .about {
        grid-column: span 3;
    }

    .bottom {
        padding: 0 2rem;
    }
}

@media screen and (min-width: 760px) {
    .bottom {
        padding: 0 5rem;
    }
}

@media screen and (min-height: 974px){
    .about {
        margin-top: 3rem;
    }
};
/* ======================
Utilities
====================== */

/* Underline From Center */
.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-underline-from-center:after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: var(--text-primary);
    opacity: .75;
    height: 3px;
    transition-property: left, right;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:after,
.hvr-underline-from-center:focus:after,
.hvr-underline-from-center:active:after {
    left: 0;
    right: 0;
}

.scale-animate {
    transition: transform 0.3s ease;
}

.scale-animate:hover {
    transform: scale(1.1);
}

.textFocusIn {
    animation: textFocusIn 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.swingIn {
    animation: swingIn 1s ease-in-out .5s both;
}

.slideDown {
    animation: slideDown 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.6s backwards;
    transition: transform .2s ease-in-out;
}

.slideDown:hover {
    /* animation: moveUp 1s ease; */
    transform: translateY(-5px);
}

/**
* ----------------------------------------
* animation scale-up-hor-center
* ----------------------------------------
*/
@keyframes scale-up-hor-center {
    0% {
        transform: scaleX(0);
    }

    100% {
        transform: scaleX(1);
    }
}

/**
 * ----------------------------------------
 * animation textFocusIn
 * ----------------------------------------
 */
@keyframes textFocusIn {
    0% {
        transform: scaleY(0);
        opacity: 0;
        filter: blur(12px);
    }

    100% {
        transform: scaleY(1);
        filter: blur(0px);
        opacity: 1;
    }
}

/**
 * ----------------------------------------
 * animation swingIn
 * ----------------------------------------
 */
@keyframes swingIn {
    0% {
        transform: rotateX(-100deg);
        transform-origin: top;
        opacity: 0;
    }

    100% {
        transform: rotateX(0deg);
        transform-origin: top;
        opacity: 1;
    }
}

/**
 * ----------------------------------------
 * animation slideDown
 * ----------------------------------------
 */
@keyframes slideDown {
    0% {
        transform: translateY(-25px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/**
 * ----------------------------------------
 * animation moveUp
 * ----------------------------------------
 */
@keyframes moveUp {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-50px);
    }
}

/* ======================
Top Container
====================== */

.container-fluid {
    padding: 0;
}

.gradient-custom {
    background: rgb(2, 0, 36);
    background: linear-gradient(142deg, rgba(2, 0, 36, 1) 0%, rgba(72, 17, 93, 1) 35%, rgba(12, 57, 66, 1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.first-block {
    height: 100vh;
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-template-areas:
        'one one one'
        'two two two'
        'three three three';
}

.name {
    font-size: 4em;
    grid-area: two;
    justify-self: center;
    align-self: start;
    text-shadow: 0 0 1px black;
}

.role {
    grid-area: two;
    justify-self: center;
    align-self: start;
    margin-top: 85px;
}

.chevron {
    font-size: 3em;
    grid-area: three;
    justify-self: center;
    align-self: end;
    margin-bottom: 25px;
}

/* ======================
Bottom container
====================== */
.bottom {
    height: 100vh;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(4, 1fr);
}

.about {
    grid-column-start: 2;
    justify-self: center;
    /* padding: 50px; */
    /* outline: 1px solid red; */
    gap: 15px;

}

.about p {
    margin: 0;
    flex: 2;
}


.socials {
    grid-column-start: 2;
    grid-row-start: 2;
}

.icons {
    text-decoration: none;
    filter: brightness(0);
    transition: all 0.3s ease;
}

.icons:is(:hover, :focus) {
    filter: brightness(100%);
    transform: scale(1.2);
}

#prof-img {
    width: 350px;
    box-shadow: 0px 0px 15px black;
}

h3 {
    text-decoration: underline;
}

.tech-table {
    margin: 0 auto;
    grid-row-start: 3;
    grid-column-start: 2;
    display: flex;
    flex-direction: column;
}

.tech-table img {
    width: 60px;
}

.projects {
    grid-row-start: 4;
    grid-column-start: 2;
    text-align: center;
    padding-top: 55px;
}

.projectList {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.projectList .card {
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    width: 200px;
}

.html {
    color: #e34c27;
}
.javascript {
    color: #f0d44c;
}
.python {
    color: #5ea9eb;
}
.css {
    color: #4266f5;
}
/* ======================
Footer
====================== */
footer {
    margin-right: 15px;
    font-size: 12px;
    position: absolute;
    right: 0;
}

.devicon {
    margin-left: 2px;
    width: 20px;
}

.test {
    background-color: red;
}